
header , footer{
  text-align:center;
  background-color:#F5E7B2;
  color:#973131;
  padding-top: 10px;
  padding-bottom:30px;
}

header{
  border-radius:10px 10px 0 0;
}

footer{
  border-radius:0 0 10px 10px;
}
main{
  background-color:#F5E7B2;
  margin:0 10px;
  padding-bottom:10px;
}
header , footer , main{
  max-width:900px;
  margin:auto;
}



.img-div{
  background-color:#E0A75E;
  margin:0 20px 20px 20px;
  padding:10px;
  border-radius:15px;
  color:black;
  font-weight:bold;
  text-align:center;
}

.image{
  margin-top:5px;
  max-width:100%;
  height:auto;
  border-radius:15px;
}

h2{
  text-align:center;
  color:#973131;
}

footer > p{
  text-align:center;
  color:#973131;
  font-size:150%;
  margin:0 10px;
}

li{
  list-style-type: '\1F373';
  margin-bottom:0.6em;
}